.panel {
    display: flex;
    margin-right: 12px;
    max-width: 215px;
    min-width: 215px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


/* ? Panel Titlebar */
.panel .titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel .titlebar .window-buttons {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}
.panel .titlebar .window-buttons i {
    cursor: pointer;
    opacity: .5;
    -webkit-app-region: no-drag;
    transition: .2s;
}
.panel .titlebar .window-buttons i:hover {
    opacity: 1;
}
.panel .titlebar .window-buttons i:not(:last-child) {
    margin-right: 4px;
}

.panel .titlebar .btn {
    cursor: pointer;
    margin-left: 8px;
    transition: .2s;
    -webkit-app-region: no-drag;
}
.panel .titlebar .btn:not(.active) {
    cursor: default;
    opacity: .5;
}


/* ? Panel Search */
.panel .search {
    margin: 12px 0;
    width: 100%;
    height: 32px;
    border-radius: 10px;
    background-color: #ffffff55;
    -webkit-app-region: no-drag;
}


/* ? Panel Menu */
.panel .menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    -webkit-app-region: no-drag;
}

.panel .menu .account {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.panel .menu .account img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.panel .menu .spaces {
    display: flex;
    align-items: center;
}

.panel .menu .spaces li {
    cursor: pointer;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.panel .menu .spaces li::after {
    content: "";
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff35;
    transition: .2s;
}
.panel .menu .spaces li:hover::after {
    transform: scale(1.2);
}
.panel .menu .spaces li.active::after {
    background-color: var(--text-primary);
}


/* ? Panel Spaces */
.panel div.spaces {
    display: flex;
    margin-bottom: 12px;
    height: 100%;
    min-height: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: .2s;
}
.panel .space {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    flex-direction: column;
    transition: .2s;
    scroll-snap-align: center;
    flex-shrink: 0;
    opacity: 0;
}
.panel .space.active {
    opacity: 1;
}

/* ? Panel Content Header */
.panel .space > .header {
    display: flex;
    padding: 0 8px;
    color: var(--text-secondary);
    align-items: center;
}
.panel .space > .header i {
    margin-right: 4px;
    font-size: 12px;
}
.panel .space > .header span {
    max-width: 100%;
    min-width: 0;
    font-size: 12px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

/* ? Panel Content */
.panel .space .content {
    max-width: 100%;
    min-height: 0;
    max-height: max-content;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
    /* flex: 1; */
}

/* ? Panel Folder */
.panel .space .content .folder > .header {
    cursor: pointer;
    display: flex;
    padding: 12px 8px;
    align-items: center;
    user-select: none;
}
.panel .space .content .folder > .header i {
    margin-right: 8px;
}
.panel .space .content .folder > .header span {
    max-width: 100%;
    min-width: 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.panel .space .content .folder ul {
    padding-left: 16px;
}
.panel .space .content .folder ul:not(.active) {
    display: none;
}

/* ? Panel Space Page */
.panel .space .content .page {
    cursor: pointer;
    display: flex;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    transition: .2s;
    user-select: none;
}
.panel .space .content .page img {
    margin-right: 8px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
}
.panel .space .content .page span {
    max-width: 100%;
    min-width: 0;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.panel .space .content .page:hover {
    background-color: #ffffff15;
}
.panel .space .content .page.active {
    background-color: #ffffff35;
}


.panel .space .new-tab {
    cursor: pointer;
    cursor: pointer;
    display: flex;
    margin: 8px;
    padding-top: 8px;
    border-top: 1px solid var(--text-secondary);
    align-items: center;
    user-select: none;
}
.panel .space .new-tab i {
    margin-right: 8px;
}
.panel .space .new-tab span {
    max-width: 100%;
    min-width: 0;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}