.nav-bar {
    ul {
        display: flex;
        align-items: center;
        gap: 8px;

        li {
            cursor: pointer;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 10px;
            transition: .2s;

            &.active,
            &:hover {
                background-color: #00000035;
            }
        }
    }
}