.component-select-icon {
    
}

.icon-picker {
    margin-top: 8px;

    ul {
        display: grid;
        max-height: 256px;
        grid-template-columns: repeat(5, 1fr);
        overflow-x: hidden;

        li {
            cursor: pointer;
            display: flex;
            width: 32px;
            height: 32px;
            font-size: 16px;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            transition: box-shadow .2s;
            
            &:hover {
                box-shadow: 0 0 5px -1px #000;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }
}