@import url('../fonts/icons/style.css');
@import url('./components/index.css');
@import url('./pages/index.css');


/* ? Vars */
:root {
    --text-primary: #fff;
    --text-secondary: #bebebe;
}


* {
    font-family: 'Open Sans', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    -webkit-app-region: drag;
}


ul, li {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


main {
    padding: 12px;
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
    border-radius: 10px;
    transition: border-radius .2s;
    box-sizing: border-box;
    overflow: hidden;
}




*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #ffffff55;    /* цвет плашки */
    border-radius: 10px;       /* закругления плашки */
}