.sidebar > .titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: titlebar;

    i {
        cursor: pointer;
        margin-right: 4px;
        -webkit-app-region: no-drag;
        transition: .2s;
        opacity: .5;

        &:last-child {
            margin: 0;
        }

        &:not(.btn-view):hover {
            opacity: 1;
        }

        &.btn-view {
            opacity: 1;
            
            &:not(.active) {
                cursor: default;
                opacity: .5;
            }
        }
    }

    .window-buttons {
        display: flex;
        align-items: center;

        i {
            cursor: pointer;
            opacity: .5;
            -webkit-app-region: no-drag;
            transition: .2s;

            &:hover {
                opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
        
    }

    
    .btn {
        cursor: pointer;
        margin-left: 8px;
        transition: .2s;
        -webkit-app-region: no-drag;
        opacity: .5;

        &.view-btn {
            opacity: 1;

            &:not(.active) {
                cursor: default;
                opacity: .5;
            }
        }
    }
}