@font-face {
  font-family: 'Icon-Browser';
  src:  url('fonts/Icon-Browser.eot?joqeqg');
  src:  url('fonts/Icon-Browser.eot?joqeqg#iefix') format('embedded-opentype'),
    url('fonts/Icon-Browser.ttf?joqeqg') format('truetype'),
    url('fonts/Icon-Browser.woff?joqeqg') format('woff'),
    url('fonts/Icon-Browser.svg?joqeqg#Icon-Browser') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icon-Browser' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ib-folder:before {
  content: "\e90e";
}
.ib-folder-color .path1:before {
  content: "\e90f";
  color: rgb(255, 160, 0);
}
.ib-folder-color .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 202, 40);
}
.ib-stars:before {
  content: "\e911";
}
.ib-options:before {
  content: "\e900";
}
.ib-arrow-right:before {
  content: "\e901";
}
.ib-arrow-left:before {
  content: "\e902";
}
.ib-minus:before {
  content: "\e903";
}
.ib-plus:before {
  content: "\e904";
}
.ib-maximize:before {
  content: "\e905";
}
.ib-minimize:before {
  content: "\e906";
}
.ib-settings:before {
  content: "\e907";
}
.ib-reload:before {
  content: "\e908";
}
.ib-close:before {
  content: "\e909";
}
.ib-arrow-down-alt:before {
  content: "\e90a";
}
.ib-arrow-left-alt:before {
  content: "\e90b";
}
.ib-arrow-right-alt:before {
  content: "\e90c";
}
.ib-arrow-up-alt:before {
  content: "\e90d";
}
