.sidebar {
    --width: 215px;
    position: relative;
    user-select: none;

    &.resize {
        transition: width 0s;
    }

    .resize-line {
        cursor: col-resize;
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: calc(100% + 4px);
        border-radius: 25px;
        background-color: var(--text-secondary);
        transition: .2s;
        -webkit-app-region: no-drag;
        opacity: 0;

        &:hover,
        &:active {
            opacity: 1;
        }
    }
}

@scope (.panel) {
    :scope {
        display: flex;
        margin-right: 12px;
        max-width: var(--width);
        min-width: var(--width);
        height: 100%;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        transition: all .3s;
    }

    :scope:not(.active) {
        margin-right: 0;
        max-width: 0;
        min-width: 0;
        -webkit-app-region: no-drag;
        opacity: 0;
    }
}

.panel-hover {
    width: 12px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-app-region: no-drag;
}

.panel-hover:hover + .panel,
.panel:not(.active):hover {
    margin-right: 12px;
    max-width: var(--width);
    min-width: var(--width);
    opacity: 1;
}


/* ? Sidebar Titlebar */
@scope (.sidebar .titlebar) {
    :scope {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    i {
        cursor: pointer;
        margin-right: 4px;
        -webkit-app-region: no-drag;
        transition: .2s;
        opacity: .5;

        &:last-child {
            margin: 0;
        }

        &:not(.btn-view):hover {
            opacity: 1;
        }

        &.btn-view {
            &:not(.active) {
                cursor: default;
                opacity: .5;
            }
        }
    }

    .window-buttons {
        display: flex;
        align-items: center;

        i {
            cursor: pointer;
            opacity: .5;
            -webkit-app-region: no-drag;
            transition: .2s;

            &:hover {
                opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
        
    }

    
    .btn {
        cursor: pointer;
        margin-left: 8px;
        transition: .2s;
        -webkit-app-region: no-drag;
        opacity: .5;

        &.view-btn {
            opacity: 1;

            &:not(.active) {
                cursor: default;
                opacity: .5;
            }
        }
    }
}


/* ? Panel Search */
@scope (.panel .tab-address) {
    :scope {
        display: flex;
        margin: 12px 0;
        padding: 12px;
        width: 100%;
        max-height: 42px;
        min-height: 42px;
        border-radius: 10px;
        align-items: center;
        background-color: #ffffff55;
        -webkit-app-region: no-drag;
        box-sizing: border-box;
    }

    .url {
        margin-left: 4px;
        max-width: 100%;
        width: 100%;
        min-width: 0;
        font-size: 13px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    i {
        cursor: pointer;
        margin: 0 4px 0 auto;
        transition: .2s;
        opacity: .7;

        &:hover {
            opacity: 1;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


/* ? Panel Menu */
@scope (.panel .menu) {
    :scope {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        -webkit-app-region: no-drag;
    }

    .account {
        cursor: pointer;
        max-width: 24px;
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    
    div.spaces {
        --left: 15%;
        --right: 85%;

        margin: 0 8px;
        min-width: 0;
        mask-image: linear-gradient(90deg, transparent, #000 var(--left), #000 var(--right), transparent 100%);
        
        ul {
            display: flex;
            align-items: center;
            transition: .2s;
            overflow-y: hidden;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        li {
            cursor: pointer;
            display: flex;
            padding: 4px;
            align-items: center;
            justify-content: center;
            transition: .2s;

            &::after {
                content: "";
                cursor: pointer;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ffffff35;
                transition: .2s;
            }

            &:hover::after {
                transform: scale(1.2);
            }
            
            &.active::after {
                background-color: var(--text-primary);
            }
        }
    }
}



/* ? Panel Spaces */
.panel > div.spaces {
    display: flex;
    margin-bottom: 12px;
    height: 100%;
    min-height: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: .2s;
}
.panel .space {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    flex-direction: column;
    transition: .2s;
    scroll-snap-align: center;
    flex-shrink: 0;
    opacity: 0;
}
.panel .space.active {
    opacity: 1;
}



/* ? Item */
.item-icon {
    display: flex;
    align-items: center;

    i, img {
        margin-right: 8px;
    }

    img {
        width: 18px;
        height: 18px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
}

.item-name {
    &[contenteditable]:focus {
        padding: 2px 4px;
        border-radius: 5px;
        outline: 1px dashed #000;
    }
}


/* ? Space */
@scope (.panel .space) {
    /* ? Header */
    :scope > .header {
        display: flex;
        padding: 4px 8px;
        align-items: center;
        -webkit-app-region: no-drag;

        &:hover {
            i:nth-child(3) {
                max-width: 96px;
                opacity: 1;
            }
        }

        i:nth-child(1) {
            margin-right: 8px;
        }

        .item-name {
            max-width: 100%;
            min-width: 0;
            color: var(--text-secondary);
            font-size: 12px;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: padding .2s;
            overflow: hidden;
            flex: 1;

            &[contenteditable]:focus {
                padding: 2px 4px;
                border-radius: 5px;
                outline: 1px dashed #000;
            }
        }

        i:nth-child(3) {
            cursor: pointer;
            max-width: 0px;
            padding: 2px 4px;
            transition: all .2s;
            opacity: 0;
        }
    }

    /* ? Content */
    .content {
        max-width: 100%;
        max-height: max-content;
        overflow-x: hidden;
        -webkit-app-region: no-drag;

        .list {
            min-height: 4px;
        }
    }
}


/* ? Folder */
@scope (.folder) {
    /* ? Header */
    :scope > .header {
        cursor: pointer;
        display: flex;
        padding: 8px;
        align-items: center;
        user-select: none;

        i.ib-folder-solid {
            position: relative;
            transition: all .2s;

            &::after {
                content: "";
                width: 16px;
                height: 11px;
                position: absolute;
                left: 0px;
                bottom: 2px;
                border-radius: 1px;
                background-color: #fff;
                transition: .2s;
                z-index: 2;
            }
    
            &::before {
                position: relative;
                z-index: 1;
            }
        }

        .item-name {
            max-width: 100%;
            min-width: 0;
            font-size: 14px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            flex: 1;
        }
    }

    :scope.active {
        & > .header {
            i.ib-folder-solid {
                position: relative;
                color: #c3c3c3;
                transform: skewX(15deg);
                
                &::after {
                    transform: skew(-30deg) translateX(3px);
                }
            }
        }
    }

    /* ? UL */
    :scope:not(.active) > ul {
        display: none;
    }
    :scope > ul {
        padding-left: 16px;
    }
}


/* ? Tab */
@scope (.tab) {
    :scope {
        cursor: pointer;
        display: flex;
        padding: 8px;
        border-radius: 10px;
        align-items: center;
        transition: .2s, transform 0s;
        user-select: none;
    }

    :scope:hover {
        background-color: #ffffff15;

        ul {
            width: 36px;
            opacity: 1;
        }
    }

    :scope.active {
        background-color: #ffffff35;
    }

    .item-icon {
        img {
            max-width: 16px;
            min-width: 16px;
            height: 16px;
            object-position: center;
            background-color: transparent;
        }
    }

    .item-name {
        max-width: 100%;
        width: 100%;
        min-width: 0;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


    ul {
        display: flex;
        width: 0px;
        align-items: center;
        transition: all .2s;
        opacity: 0;
        gap: 4px;

        i {
            cursor: pointer;
            transition: .2s;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}


/* ? New Tab */
@scope (.new-tab) {
    :scope {
        cursor: pointer;
        cursor: pointer;
        display: flex;
        margin: 8px;
        padding-top: 8px;
        border-top: 1px solid var(--text-secondary);
        align-items: center;
        user-select: none;
        -webkit-app-region: no-drag;

        i {
            margin-right: 8px;
        }

        span {
            max-width: 100%;
            min-width: 0;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}