@import url('./panel.css');
@import url('./views.css');
@import url('./search.css');


main {
    display: flex;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.new {
    -webkit-app-region: no-drag;
}